In [15]:
import tensorflow as tf
from tensorflow.keras.models import load_model
import pickle
import pandas as pd
import numpy as np

In [ ]:
# Loading trained model
model= load_model('model.h5')

# load the encoder and scaler
le_gender= pickle.load(open('le_gender.pkl', 'rb'))
ohe_geo= pickle.load(open('ohe_geo.pkl', 'rb'))
sc= pickle.load(open('sc.pkl', 'rb'))

WARNING:absl:Compiled the loaded model, but the compiled metrics have yet to be built. `model.compile_metrics` will be empty until you train or evaluate the model.

In [17]:
# Sample input data
input_data= {
    'CreditScore': 600,
    'Geography': 'France',
    'Gender': 'Male',
    'Age': 40,
    'Tenure': 3,
    'Balance': 60000,
    'NumOfProducts': 2,
    'HasCrCard': 1,
    'IsActiveMember': 1,
    'EstimatedSalary': 50000
}

In [18]:
geo_encoder= ohe_geo.transform([[input_data['Geography']]])
geo_encoded_df= pd.DataFrame(geo_encoder, columns= ohe_geo.get_feature_names_out())
geo_encoded_df

c:\Users\Asus\Documents\#Babuaa\ML KN\Projects\Customer-Churn-ANN-Classification\venv\Lib\site-packages\sklearn\utils\validation.py:2749: UserWarning: X does not have valid feature names, but OneHotEncoder was fitted with feature names
  warnings.warn(

   Geography_France  Geography_Germany  Geography_Spain
0               1.0                0.0              0.0

In [21]:
input_df= pd.DataFrame([input_data])
input_df

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,600,France,Male,40,3,60000,2,1,1,50000

In [22]:
input_df['Gender']= le_gender.transform(input_df['Gender'])
input_df

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,600,France,1,40,3,60000,2,1,1,50000

In [24]:
input_df= pd.concat([geo_encoded_df, input_df.drop('Geography', axis= 1)], axis= 1)
input_df

,Geography_France,Geography_Germany,Geography_Spain,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,1.0,0.0,0.0,600,1,40,3,60000,2,1,1,50000

In [25]:
input_scaled= sc.transform(input_df)
input_scaled

array([[ 1.00150113, -0.57946723, -0.57638802, -0.53598516,  0.91324755,
         0.10479359, -0.69539349, -0.25781119,  0.80843615,  0.64920267,
         0.97481699, -0.87683221]])

In [ ]:
# Prediction Churn
prediction= model.predict(input_scaled)
prediction

1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 26ms/step

array([[0.0594235]], dtype=float32)

In [31]:
prediction_proba= prediction[0][0]
print(prediction_proba)

0.059423495

In [32]:
if prediction_proba > 0.5:
    print('The customer is likely to churn!')
else:    
    print('The customer is not likely to churn!')

The customer is not likely to churn!